{
    "presets": [
      	[
          "env",
        	{
            "targets": {
              "browsers": [
                  "last 2 versions", "IE>= 10"
              ]
            },
         }
       ]
   ],
  "plugins": [
      "./js/babel-plugins/babel-plugin-delete-logs.js",
      "./js/babel-plugins/babel-plugin-transform-exponentiation-operator.js",
  ]
}
