{
    "presets": [
      	[
          "env",
        	{
            "targets": {
              "browsers": [
                "IE 10"
              ]
            },
         }
       ]
   ],
  "plugins": ["./js/my-plugin.js"]
}
